* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.body {
    position: relative;
    z-index: 1;
    top: -50px;
    width: auto;
    margin: auto;
    padding: 1em 6em;

    /*background-color: rgb(0, 129, 241);*/
}

.content {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-gap: 20px;
}

/*
.left{
    padding: 20em 5em;
    border-radius: 8px;
    background-color: brown;
}*/
h1 {
    color: black;
    font-size: 45px;
    font-family: 'Montserrat';
    font-weight: bolder;
    margin-bottom: 0.5em;
}

.leftheader {
    padding: 2em;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    background-color: white;
}

.leftbody {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 0px;

}

.leftcat {
    /*-webkit-position: sticky;
    position: sticky;
    top: 0px;*/
    padding: 1.5em;
}

/*
.leftitems{
    background-color: bisque;
    /*padding: 20em 4em;
}*/
.right {
    /*-webkit-position: sticky;
    position: sticky;
    top: 0px;*/
    border-radius: 8px;

}

.mobilecart {
    display: none;
    position: fixed;
    width: 70%;

    z-index: 2;
    top: 40vh;
    right: -20em;
    transition: all 0.5s;
}

.deliv {
    display: flex;
    align-items: center;
}

.deliv>div>span {
    margin-right: 0.4em;
}

.deliv>div {
    display: flex;
    margin-right: 1.5em;
    align-items: center;
}
.cartgrow {
    display: none;
    position: fixed;
    z-index: 2;
    top: 40vh;
    right: 0px;
    transition: all 0.5s;
}

.fixedbtn {
    display: none;
    position: fixed;
    z-index: 4;
    top: 50vh;
    right: 0px;
    padding: 1em;
    border-radius: 10px 0px 0px 10px;
    font-family: "Montserrat";
    background-color: #79b23c;
    color: white;
    transition: all 0.5s;
}

.btnshrink {
    display: none;
    position: fixed;
    z-index: 4;
    top: 50vh;
    right: -35px;
    padding: 1em 0em 1em 1em;
    border-radius: 10px 0px 0px 10px;
    font-family: "Montserrat";
    background-color: #79b23c;
    color: white;
    transition: all 0.5s;
}

.label {

    font-weight: bolder;
    font-style: italic;
    margin-right: 1em;
    font-size: 18px;
}



@media only screen and (max-width:1024px) {

    .leftcat {
        display: none;
    }

    .leftbody {
        display: block;
        width: auto;
        margin: auto;
    }

    .body {

        padding: 2em;
    }

    h1 {
        font-size: 25px;
    }
}

@media only screen and (max-width:960px) {
    .right {
        display: none;
    }

    .mobilecart {
        display: block;
    }

    .fixedbtn {
        display: flex;
    }

    .btnshrink {
        display: flex;
    }

    .content {
        display: block;
        width: auto;
        margin: auto;

    }

}