*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.error{
    width: auto;
    margin: auto;
    padding: 1em;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3em;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgb(103, 103, 103);
    font-family: 'Montserrat';
    line-height: 2em;
}