/*@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Kdam+Thmor+Pro&family=Lobster&family=Noto+Sans&family=Open+Sans&family=Roboto+Slab:wght@300&family=Sevillana&family=Ubuntu:wght@700");
*/
@import url("https://fonts.googleapis.com/css?family=Amatic+SC:wght@400;700|Kdam+Thmor+Pro|Lobster|Noto+Sans|Open+Sans|Roboto+Slab:wght@300|Sevillana|Ubuntu:wght@700|Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Montserrat', 'Lobster', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
