*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 1.2px;
    padding: 4px;
    margin-right: 0.5em;
}
.griditem{
    padding: 3px;
    border-radius: 1px;
    background-color: #79b23c;
}
